<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="header">
    <a href="/faq" class="logo">FAQ</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="faq">FAQ</a>
        <a href="sponsor">Sponsorship</a>
    </div>
</div>
<h1 id = "title"><%= title %></h1>
<h2 id = "question">Can't the terrorists kill the counter terrorists? </h2>
<p id = "answer">No because the plugins that the HNS servers use make it so terrorists cant even stab with their knife</p>
<h2 id = "question">How do you improve?  </h2>
<p id = "answer">There is really only one or two things to improve on when it comes to HNS
If you are new to the gamemode i recommend spectating good players and watching HNS videos and playing regularly
</p>
    <p id = "answer">There are two different type of HNS gamemodes which include the same concept but different mechanics.</p>
    <h2 id = "question">What is HNS NOPRE</h2>
    <p id = "answer">NOPRE contains everything I have mentioned but it's far different from PRE,NOPRE is more slow based and you have
        to rely more on your juking than running away</p>
    <h2 id = "question">What is HNS PRE?</h2>
    <p id = "answer">With PRE it is much easier to bunnyhop and you can groundstrafe </p>
<h2 id = "question">What exactly is Jumpstatting?</h2>
<p id = "answer">Great question! Jumpstatting is when you jump a specific length to get on the leaderboard,
there are four type of jumptypes which are Perfect,Impressive,Godlike & Ownage,
Meanwhile there are seven jump ways to get which are, Longjump, Bunnyhop, Multibunnyhop, WeirdJump, DropBunnyhop, CountJump & Ladder Jump
   you can click  <a href="https://www.youtube.com/watch?v=MeMjnoJQv-Y">here</a> if you want to watch a longjump tutorial</p>
<h2 id ="question">Is HNS a hard gamemode to learn?</h2>
<p id="answer">Yes and No, this really all depends on how quick you are to learn gamemodes per se jumpstatting takes
a while to learn to get good at (Keep in mind there is no one who is best at jumpstatting because there is some
<a href ="https://www.urbandictionary.com/define.php?term=RNG">RNG</a> involved. But with HNS jukes are really hard to
learn in general so yes I would say that HNS/Jumpstatting is hard to learn in general even though the gamemode is
basically the game tag</p>
<h2 id = "question">What is an understab?</h2>
<p id = "answer">When playing as a counter-terrorist you are not allowed to stab a player that is above you or on a higher
platform, the reason for this is because it gains an unfair advantage and if counter-terrorist's were allowed to understab
the gamemode wouldn't be as much fun :c</p>
<h2 id = "question">As a terrorist can I defend myself somehow?</h2>
<p id = "answer">Yes as a terrorist when a new round starts you spawn with a frost grenade (decoy grenade that has
been modified with a plugin) and two flashbangs you can use these grenades to nadeblock them so you have more time to
run away or use them to flashbang them so you have more chances of getting away, with the frostnade on the other hand
you need to throw the frostnade carefully so it is a guarantee hit and if you hit them they will be frosen for 3 seconds</p>



<div class="footer">Copyright	&copy; <a href = "https://i1.rgstatic.net/ii/profile.image/470742774095873-1489245231600_Q128/Hjorvar_Haraldsson.jpg">Hjörvar</a> Studios 2035</div>

</body>
</html>
