<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="header">
    <a href="/" class="logo">Home</a>
    <div class="header-right">
      <a class="active" href="/">Home</a>
      <a href="faq">FAQ</a>
      <a href="sponsor">Sponsorship</a>
    </div>
  </div>
  <h1 id = "title"><%= title %></h1>
<div id = "indexP">
  <p>CS:GO HNS is a gamemode that is very simple but is very hard to learn surprisingly, the gamemode is basically a</p>
  <p>copy of the game Tag (Eltingarleikur) where the counter terrorists are supposed to chase the terrorist and try to </p>
  <p>kill them with nothing but a knife while the terrorists are supposed to counter this and run away from them and pull</p>
  <p> some "jukes", this has been a thing since the year 2000 when Counter-Strike 1.6 was released and people still play </p>
  <p> the 1.6 version thousands of players. This gamemode didnt really catch on to Counter-Strike: Source because of the </p>
  <p> game mechanics and people just continued playing the 1.6 version. Then CS:GO got released in 2012 and there werent </p>
  <p>alot of community servers it was in about 2014 when the first HNS server opened and it was insane it was so fun to </p>
  <p> play, you might be thinking to yourself "I mean this is just basically the game Tag how could you love this gamemode</p>
  <p> wouldnt it get boring?" Well you arent wrong but not right either the HNS gamemode is so fun because you are juking your</p>
  <p> opponents and you have something called "Jumpstats" where you jump a specific length to get to the jumptop of the server </p>
  <p> and you are battling for the #1 spot!</p>
</div>















  <div id = "video">
    <h2 id = "preview">Previews</h2>
    <iframe width="367" height="206" src="https://www.youtube.com/embed/mHvA23fpQ8Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="367" height="206" src="https://www.youtube.com/embed/KBGHmSu2Pxk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="367" height="206" src="https://www.youtube.com/embed/3RlbuXrqSQU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <iframe src="https://discordapp.com/widget?id=383719680516292608&theme=dark" width="1110" height="400" allowtransparency="true" frameborder="0"></iframe>


  <div class="footer">Copyright	&copy; <a href = "https://i1.rgstatic.net/ii/profile.image/470742774095873-1489245231600_Q128/Hjorvar_Haraldsson.jpg">Hjörvar</a> Studios 2035</div>

  </body>
</html>
