<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="header">
    <a href="/faq" class="logo">Sponsorship</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="faq">FAQ</a>
        <a href="sponsor">Sponsorship</a>
    </div>
</div>
<h1 id = "title"><%= title %></h1>
<p>When we choose to agree to a sponsorship agreement with an organization it needs to live up to some of our basic demands and expectations. Even if the organization meets all demands listed, it's no guarantee that the application will be approved. But it does guarantee that we will even consider the application seriously as we don't have to ask for more information.

<p>An organizations can be a clan, community or company.</p>

   <p id = expectations>Basic demands and expectations:</p>
<p> A well written application with emphasis on what the organization can do for us. What we can do for you is not relevant in the first step of communication.</p>

<p> Be able to show seriousness and a professional job being done within the organization and towards it's members.</p>

<p>Have your own website with an appropriate domain. (.com .net .org etc).</p>

<p> Have the ability to enter a legal agreement that includes all aspects of the sponsorship deal if the sponsorship includes a larger amount of services.</p>

<p> For clans there is also a need for you to demonstrate your previous merits such as wins in tournaments and other forms of competition.</p>

<p>For communities it's important to include all possible aspects of publicity about our company would receive from entering into a sponsorship agreement with you. Such as banners, logo placements, news articles etc.</p>
    <p>The size of your community is also of importance to include in the application.</p>



<div class="footer">Copyright	&copy; <a href = "https://i1.rgstatic.net/ii/profile.image/470742774095873-1489245231600_Q128/Hjorvar_Haraldsson.jpg">Hjörvar</a> Studios 2035</div>

</body>
</html>
